{% extends "master.html" %}
{% block content %}

<h1>OPERATING SYSTEM</h1>
<p>An operating system (OS) is system software that manages computer hardware and software resources, acting as an <BR/>
    <br/>
    <br/>intermediary between the user and the computer. It handles tasks like memory management, process management, and controlling peripheral devices. Essentially, it's the foundation upon which applications run and allows users to interact with the computer. 
Key Functions of an Operating System:
Resource Management:
The OS allocates and manages resources like CPU time, memory, storage, and input/output devices. 
Process Management:<br/>
It handles the execution of programs, including starting, stopping, and scheduling them. 
Memory Management:<br/>
The OS manages how memory is used by different programs, preventing conflicts and ensuring efficient use. 
File Management:<br/>
It organizes and manages files and directories on storage devices. 
User Interface:<br/>
Provides a way for users to interact with the computer, either through a command-line interface or a graphical user interface (GUI). 
Hardware Abstraction:<br/>
The OS provides a layer of abstraction between the hardware and software, allowing applications to work with different hardware without needing to know the specifics of the hardware. </p>
{% endblock %}