{% extends "master.html" %}
{% block content %}

<h1> coor</h1>
<p>"Core subjects" are the fundamental and 
    <br/>essential subjects in a curriculum, forming the foundation for further learning. They are typically compulsory and provide a base of knowledge needed for a particular program or level of education. In the context of education, core subjects often include English, mathematics, and science. 
Here's a more detailed breakdown:<br/>

Core Subjects vs. Other Subjects:<br/>
Core Subjects:<br/>
These are the fundamental, compulsory subjects that are considered essential for a specific program or level of study. They provide the foundational knowledge and skills needed for progression. 
Foundation Subjects:<br/>
In some educational systems, subjects other than the core are referred to as foundation subjects.
<br/> These may include subjects like history, geography, art, music, etc </p>
{% endblock %}

