{% extends "master.html" %}
{% block content %}

<h1>"DS Java" </h1>
<BR/>refers to Data Structures in Java.
Data Structures are fundamental ways of organizing, storing, and managing data in a computer's memory so that <BR/>it can be used efficiently. They provide a logical and systematic method for arranging data, which in turn allows for efficient retrieval, manipulation, and processing of that data by algorithms.
In Java, data structures are implemented using various<BR/> classes and interfaces, many of which are part of the java.util package. Common examples of data structures in Java include:
Arrays: Fixed-size collections of elements of the same data type.<BR/>
ArrayList: A dynamic array that can grow or shrink in size.<BR/>
LinkedList: A linear data structure where elements are stored in nodes, with each node pointing to the next.<BR/>
Stack: A LIFO (Last-In, First-Out) data structure.<BR/>
Queue: A FIFO (First-In, First-Out) data structure.<BR/>
HashMap: Stores key-value pairs, providing efficient lookup based on keys.
HashSet: Stores unique elements, providing efficient operations for checking membership.
Trees (e.g., Binary Search Trees): Hierarchical data structures with a root node and child nodes.
Graphs: Non-linear data structures representing relationships between entities.</p>
{% endblock %}

