{% extends "master.html" %}
{% block content %}

<h1>DMS</h1>
<p>"Discrete mathematics is the branch of mathematics that <BR/>studies countable or distinct structures. It includes topics such as:<BR/>
Combinations: The selection of items from a larger set.<BR/>
Graphs: Mathematical structures used to model pairwise relations between objects.<BR/>
Logical statements: The study of propositions and their truth values.<BR/>
Discrete mathematics is essential in computer science, cryptography, and combinatorial optimization,<BR/> as it deals with structures that can assume only distinct values, contrasting with continuous mathematics. </p>
{% endblock %}

